body
{
	text-align : center;
	font-size  : 0.825em;
	margin-top : 0px ;
	background : #1A6E86;
}

#content
{
	text-align : justify;
	margin     : 0 auto;
	width      : 500px;
	background : white;
        padding    : 10px 30px;
}

h1
{
	text-align : center;
	color      : #1A6E86;
	font-size  : 2em;
	padding    : 30px 0px 10px 0px;
}

h2
{
	font-size  : 1.3em;
	color      : #1A6E86;
}

.cmd
{
	display    : block;
	text-align : center;
	font-size  : 1.3em;
	padding    : 10px 0px 10px 0px;
	margin     : 10px 0px 10px 0px;
	border     : 1px solid #1A6E86;
}

.license
{
	font-size  : 0.8em;
	color      : #444;
}
